
body{
  font-family: Arial;
  background-color: 	#303030

}
h1{
  margin-top: auto;
  text-align: center;
  background-color: #cccc;
  height: 40px;
  width: 100%;
  color: white;
}
.grid-container{
  color: white;
  padding: 25px;
  margin-top: 10px;
  display: grid;
  grid-template-columns: 200px 150px 100px;
  column-gap: 10px;
  row-gap: 10px;
  margin-top: 10px;
  
}
#todo-input{
  font-size: 18px;
  border: 2px solid black;
  border-radius: 8px;
  padding: 10px 5px;
}
#todo-date{
  font-size: 18px;
   border: 2px solid black;
  border-radius: 8px;
  padding: 10px 5px;
}
.btn-add{
  background-color: green;
  color: white;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  padding: 15px;
}
.btn-delete{
  margin-bottom: 10px;
  background-color: rgb(128, 0, 0);
  color: white;
  border: none;
  border-radius: 11px;
  cursor: pointer;
  padding: 7px;

}